:root {
    --bg-color: #e6e6e6;
    --color: #40413b;
    --theme-switcher-bg-color: #d3cdcd;
    --theme-switcher-color: #d15300;
    --display-bg-color: #eeeeee;
    --display-color: #40413b;
    --btns-panel-bg-color: #d3cdcd;
    --btn-bg-color: #e5e4e0;
    --btn-color: #40413b;
    --btn-active-color: white;
    --btn-shadow-color: #a69e91;
    --special-btn-bg-color: #388187;
    --special-btn-color: white;
    --special-btn-active-color: #62b5bd;
    --special-btn-shadow-color: #1d5c65;
    --eq-btn-bg-color: #c85401;
    --eq-btn-color: white;
    --eq-btn-active-color: #ff8b38;
    --eq-btn-shadow-color: #873600;
    font-size: 16px;
}